body {
    background-color: none;
    overflow: hidden;
  }
  
  .desktop{
    

    position: absolute; /* or fixed if you want it to stay on screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('assets/windowsBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  
  .file {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 0rem;
    width: 10rem;
    /* padding: 10px; */
    /* border-radius: 5px; */
    transform: translate(-50%, -50%);
    cursor: grab;
    user-select: none;
  }

  .folderimg{
    max-width: 30%;
    max-height: 30%

  }
  
  /* .file header {
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid black;
} */

.draggable-file {
    margin: 10px 0;
}
  